.hh{
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-align: center;
}

.gg{

}
button{
outline: none;}
.th:hover{
    color:#343a40;
}

.player{
    margin-top: 100px;
    width: 100%;
}
.video{
    width: inherit;
    display: block;
    border: #343a40 solid 2px;
    /* padding-top: 3rem;
    background-color: black; */
}
.control{
    /* background-color: rgba(0, 0, 0, 0.171); */
    position: relative;
}
.info{
    height: 5%;
    width: inherit;
    background-color: #343a405e;
}
.top_control{
    width: inherit;
    height: 80%;
    bottom: 0px;
}
.bot_control{
    width: inherit;
    height: 15%;
    background: rgba(0, 0, 0, 0.205);
}
.bot_top_control{
    width: inherit;
    height: 60%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.bot_bot_control{
    width: inherit;
    height: 40%;
}
.left_control{
    height: 100%;
    background-color: blue;
}
.mid_control{

    background-color: red;
    height: 100%;
}
.right_control{

    background-color: green;
    height: 100%;
}
.t{
}